set input-meta on
set output-meta on

"\e[1~": beginning-of-line 
"\e[3~": delete-char 
"\e[4~": end-of-line
"\e[5~": beginning-of-history 
"\e[6~": end-of-history
"\e[214z": beginning-of-line
"\e[220z": end-of-line
$if term=sun
    "\e[[C": forward-char
    "\e[[D": backward-char
$else
    "\eOC": forward-word
    "\eOD": backward-word
$endif
