" vim: ft=vim et
syn on
filetype plugin on
set modeline
set fdm=indent
set bs=2

if (localtime() % 86400) >= ((86400 / 24) * 15)
  colorscheme sebgod
else
  colorscheme sebgod_bright
endif

if has("gui_running")
  if has("gui_gtk2")
    set guifont=Monospace\ 11
  elseif has("gui_macvim")
    set guifont=Menlo\ Regular:h14
  elseif has("gui_win32")
    set guifont=Consolas:h11:cANSI
    au GUIEnter * simalt ~x
  endif
endif
