:syn on
:filetype plugin on
set modeline
set fdm=indent
" set fdc=4
set bs=2
:colorscheme darkblue

if has("gui_running")
  if has("gui_gtk2")
    set guifont=Inconsolata\ 12
  elseif has("gui_macvim")
    set guifont=Menlo\ Regular:h14
  elseif has("gui_win32")
    set guifont=Consolas:h11:cANSI
  endif
endif
