" vim: ft=vim sw=2 et
syn on
filetype plugin on
set modeline
" set fdm=indent
set bs=2
set ff=unix
set ffs=unix,dos

if (strftime("%H", localtime()) >= 15)
  colorscheme sebgod
else
  colorscheme sebgod_bright
endif

if has("gui_running")
  " this is for testing balloon expressions
  " set bexpr=MyBalloonExpr()
  " set ballooneval

  if has("gui_gtk2")
    set guifont=Monospace\ 11
  elseif has("gui_macvim")
    set guifont=Menlo\ Regular:h14
  elseif has("gui_win32")
    set guifont=Consolas:h11:cANSI
    au GUIEnter * simalt ~x
  endif
endif

function! MyBalloonExpr()
  return 'Cursor is at line ' . v:beval_lnum .
		\', column ' . v:beval_col .
		\ ' of file ' .  bufname(v:beval_bufnr) .
		\ ' on word "' . v:beval_text . '"'
endfunction
