" vim: ft=vim ts=2 sw=2 et wm=0 tw=0
syntax on
filetype plugin indent on
set ff=unix
set ffs=unix,dos
set autoindent
set smartcase
set smarttab
set expandtab
set softtabstop=4
set tabstop=4
set shiftwidth=4
set incsearch
set autowrite
set hidden
set showcmd
set mouse=a
set modeline
if exists('+relativenumber')
   set rnu
   if v:version > 703
     set number
   endif
endif
set laststatus=2
set backspace=indent,eol,start
set nocompatible
set history=50
set suffixes=.exe,.bak,~,.swp,.o,.info.aux.log,.dvi,.bbl,.blg,.brf,.cb,.idx,.ilg,.inx,.out,.toc,.mh,.err,.init
set pastetoggle=<F2>

" Spelling
:setlocal spell spelllang=en_gb

" Mercury related settings
let mercury_conceal_extra = 1
if v:version >= 703
  set colorcolumn=+1
  set fo-=t " do not automatically wrap text
  set fo+=c " auto wrap comments, using comment leader
  set fo+=r " automatically insert the comment leader after <CR>
  set fo+=q " enable tq feature
endif

" disable that annoying visual/audible bell
set noerrorbells
set novisualbell
set t_vb=
autocmd! GUIEnter * set vb t_vb=

" :let g:html_no_progress=1
let g:html_use_encoding="UTF-8"

autocmd QuickFixCmdPost [^1]* nested cwindow
autocmd QuickFixCmdPost    1* nested lwindow

if has("autocmd")
  au BufReadPost * if line("'\"") > 1 && line("'\"") <= line("$") | exe "normal! g'\"" | endif
endif

if has("multi_byte")
  set encoding=utf-8                     " better default than latin1
  setglobal fileencoding=utf-8           " change default file encoding when writing new files
  if &termencoding == ""
    let &termencoding = &encoding
  endif
  " for some mathematical characters, it is better to have double with,
  " but this leads to problems with some pīnyīn characters.
  " setglobal ambiwidth=double
endif

map <F12> :vertical wincmd f<CR>
auto BufEnter * :set title | let &titlestring = 'v:' . expand('%')
auto VimLeave * :set t_ts=k\
