<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SF.Zentrale.LaunchyPlugin.Properties.Settings.SorpetalerConnectionString"
            connectionString="Data Source=SQL02;Initial Catalog=Sorpetaler;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>